<%= render 'users/info', user: @book.user %>
<%= render 'books/side', book: @post, user: @book.user %>

<h2>Book detail</h2>
<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th colspan="9"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><%= attachment_image_tag book.user, :profile_image_id, :fill, 50, 50, format:'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
				<%= link_to @book.user_id, user_path(@user.id) %></th>

			<th><%= link_to @book.title, book_path(@book) %></th>
			<th><%= @book.body %></th>

			<th><%= link_to "Edit", edit_book_path(@book) %></td>
			<th><%= link_to "Destroy", books_path(@book), method: :delete, "data-confirm" => "本当に消しますか？" %></th>
		</tr>
	</tbody>
</table>